@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito');

input {
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none; 
}

.control-label {
  font-weight: bold!important;
  color: #444444;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  /*border:1px solid #CCCCCC;
  border-bottom:0px;
  outline:none!important;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  background:white!important;*/
}
.input-value{
  margin-top: -10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /*border:none;
  border:1px solid #CCCCCC;
  border-top:0px;
  outline:none!important;*/
}

.form-control, .form-control:focus {
  border-color: #CCCCCC;
  outline: 0 none; border: 0 none;
}

.form-input {
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #000000;
}

hr {
  margin: 0;
  width: 100%;
}

.orange-button {
  text-align: center !important;
  background-color: #CB7C3A;
  border-color: #CB7C3A;
  color: white;
  font-family: Montserrat;
}

.orange-button:hover {
  background-color: #E26B35;
  border-color: #D84E33;
  color: white;
}

.orange-button:focus {
  background-color: #CC7D3A;
  border-color: #E26B35;
  color: white;
}

.gray-button {
  text-align: center !important;
  background-color: #7F7F7F;
  border-color: #7F7F7F;
  color: white;
  font-family: Montserrat;
}

.gray-button:hover {
  background-color: #8C8C8C;
  border-color: #8C8C8C;
  color: white;
}

.gray-button:focus {
  background-color: #656565;
  border-color: #656565;
  color: white;
}