@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: black;
    background-image: url(/static/img/client/bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.facebook-login {
  text-align: center !important;
  align-self: center;
  padding: 1em;
  background-color: #3B5998;
  border-color: #3B5998;
  width:100%;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    padding: 0.5em;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.email {
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  padding: 0.5em 1em;
  background-color:white;
}

.password {
  border-bottom-left-radius:1em;
  border-bottom-right-radius:1em;
  padding: 0.5em 1em;
  background-color:white;
}

#login {
  align-self: center;
  padding: 1em;
  width:100%;
}