/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 50vh; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: right;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.facebook {
    font-size: 1em !important;
    text-align: center !important;
    align-self: center;
    margin: 0 2em !important;
    padding: 8px !important;
    background-color: #3B5998;
    border-color: #3B5998;
}

.facebook:hover {
    background-color: #5986E4;
    border-color: #7485A9;
}

/* The navigation menu links */
.sidenav a {
    margin: 0.75em;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.25em;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    margin: 0;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.navbar-fixed-top {
    z-index:5;
}