{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/client/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/client/navigation.css' %}">

        <script src="{% static 'js/client/navigation.js' %}"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include 'client/navigation.html' %}
        <br>
        <div class="visible-sm"><br><br></div>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>