{% extends 'client/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'js/client/jquery-1.9.1.js' %}"></script>

    <script src="{% static 'js/client/hammer.min.js' %}"></script>
    <script src="{% static 'js/client/hammer.fakemultitouch.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/client/drum.css' %}"></link>
    <script src="{% static 'js/client/drum.js' %}"></script>

    <style media="screen">
        body {
            background-color: #fefefe;
            font-family: arial,verdana,sans-serif;
        }

        .dial {
            background-color: rgba(190, 190, 190, 0.3) !important;
            border-width: 1em !important;
            border-color: red !important; 
        }

        div.inside, div.outside {
            font-family: Montserrat;
        }



        div.drum-wrapper {
            margin: 0 5px;
            border: solid 1px #f0f0f0;
            background-color: black;
        }

        figure {
            color: white !important;
            border-style: solid;
            -moz-border-image: -moz-linear-gradient(left, #000 0%, #000 10%, #e7cb7a 30%, #fcf6c5 40%, #cc9f40 50%, #b88f2e 70%, #000 90%, #000 100%);
            -webkit-border-image: -webkit-linear-gradient(left, #000 0%, #000 10%, #e7cb7a 30%, #fcf6c5 40%, #cc9f40 50%, #b88f2e 70%, #000 90%, #000 100%);
            border-image: linear-gradient(to right, #000 0%, #000 10%, #e7cb7a 30%, #fcf6c5 40%, #cc9f40 50%, #b88f2e 70%, #000 90%, #000 100%);
            border-image-slice: 1;
            border-width: 2px 0;
        }


        #drum_number1 {
            width: 100px;
            height: 240px;
        }
        #drum_number1 .inner {
            top: 15px;
            height: 215px;
        }
        #drum_number1 .container, #drum_number1 figure {
            height: 70px;
        }
        #drum_number1 .container {
            top: 70px;
        }
        #drum_number1 figure {
            text-align: center;
            font-size: 3em;
            line-height: 1.5em;
        }
        #drum_number1 .dial {
            height: 75px;
        }
        #drum_number1 .dial div {
            width: 35px;
        }



        #drum_number2 {
            width: 100px;
            height: 240px;
        }
        #drum_number2 .inner {
            top: 15px;
            height: 215px;
        }
        #drum_number2 .container, #drum_number2 figure {
            height: 70px;
        }
        #drum_number2 .container {
            top: 70px;
        }
        #drum_number2 figure {
            text-align: center;
            font-size: 3em;
            line-height: 1.5em;
        }
        #drum_number2 .dial {
            height: 75px;
        }
        #drum_number2 .dial div {
            width: 35px;
        }

        hr {
            margin: 0.75em 0 1.5em 0;
            border-width: 0.2em;
            width: 110%;
            position: relative;
            left: -5%;
        }

        .right {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

        .left {
            display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
        }

        .number-panel {
            -moz-background: -moz-linear-gradient(top, #e7cb7a 10%, #fcf6c5 30%, #cc9f40 60%, #a36a09 80%, #a87f1e 95%, #dcaf30 100%);
            -webkit-background: -webkit-linear-gradient(top, #e7cb7a 10%, #fcf6c5 30%, #cc9f40 60%, #a36a09 80%, #a87f1e 95%, #dcaf30 100%);
            background: linear-gradient(to bottom, #e7cb7a 10%, #fcf6c5 30%, #cc9f40 60%, #a36a09 80%, #a87f1e 95%, #dcaf30 100%);
            padding: 2em;
            border-radius: 1em;
        }
    </style>
    <script>
        Hammer.plugins.fakeMultitouch();
        $(document).ready(function () {
            $("#number1").drum({ panelCount: 10, dail_w: 35, dail_h: 10, dail_stroke_width: 2 });
            $("#number2").drum({ panelCount: 10, dail_w: 35, dail_h: 10, dail_stroke_width: 2 });
        });
    </script>
{% endblock %}
{% block content%}
<div class="row flexbox-container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h6>PLAYING<br>
        CREDITS</h6>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h2>PhP {{ credits }}</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a class="btn btn-sm btn-default">VIEW WALLET</a>
    </div>
</div>
<hr>
<div class="row number-panel">
<div class="col-md-6 col-sm-6 col-xs-6 outside right">
    <select id="number1" class="drum">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
</div>
<div class="col-md-6 col-sm-6 col-xs-6 outside left">
    <select id="number2" class="drum">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
</div>
</div>
{% endblock %}