<!--<object type="text/html" data="https://hk1-broadcast.officeapps.live.com/m/Broadcast.aspx?Fi=281d5877945a2956_4839c3b4-ab15-4cf0-a311-9ec44b505f79%2Epptx" style="height: 500px; width: 800px;">
</object>-->

{% extends 'client/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/client/forms.css' %}">
<style>
body { color: white; font-family: Open Sans; }
hr {
    margin: 0.75em 0 1.5em 0;
    border-width: 0.2em;
    width: 110%;
    position: relative;
    left: -5%;
}
.heading {
  font-family: Open Sans;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: white;
}
.orange-button {
    font-size: 0.75em;
    padding: 0.75em 2.25em;
}
.gray-button {
    font-size: 0.75em;
    padding: 0.75em 2.25em;
}
.nopadding { padding: 0 !important; }
.cashout { padding: 0.75em 0.5em; }
#free-play { letter-spacing: 0.04em; }

h1 {
    font-family: Montserrat;
    font-weight: 900;
    letter-spacing: 0.07em;
    font-size: 3em;
}

h5 {
    font-family: Montserrat;
    font-weight: 900;
    letter-spacing: 0.1em;
}

h2 { margin: 0; }

.game-top {
    width: 100%;
    height: 6em;
    color: black;
    margin: 0;
    margin-top: 1em;
    background-color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1.5em 0 1em 0;
    font-family: Montserrat;
}

.game-bottom {
    width: 100%;
    margin: 0;
    border-radius: 1em;
    
}
.time-left {
    background-color: red;
    border-bottom-left-radius: 1em;
    height: 3em;
}

.time-left > .row > .text {
    font-size: 0.75em;
    margin: 0;
    padding: 0 1em;
    font-weight: 700;
}

.time-left > .row > .time {
    padding: 0.4em;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.status {
    background-color: #F08121;
    border-bottom-right-radius: 1em;
    height: 3em;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 3em;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: white;
}

.status:hover {
    color: white;
    text-decoration: none;
}

.status:focus {
    color: white;
    text-decoration: none;
}

.schedule {
    color: #aaa;
    font-size: 0.9em;
}

.team {
    color: #444;
}
</style>
{% endblock %}

{% block content %}
<div class="row flexbox-container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h6>PLAYING<br>
        CREDITS</h6>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h2>PhP {{ credits }}</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a class="btn btn-sm btn-default" href="{% url 'client:paypal_sample' %}">VIEW WALLET</a>
    </div>
</div>
<hr>
<center>
<h1><b>EARN & PLAY</b></h1>
<h5>EARN FREE CREDITS WHILE PLAYING</h5>
<br>
<a class="btn btn-default">LEARN MORE</a>
</center>
</div>

<br>

<div style="width:100%;height:5px;background-image:url(/static/img/client/bar0.png);background-size: 100vw auto; background-repeat: no-repeat;">
</div>
<div style="background-color: black;">
<br>
<div class="container">
    {% for game in games %}
    <div class="game">
        <div class="row game-top">
            <div class="col-md-4 col-sm-4 col-xs-4 schedule">
                {{ game.schedule|date:"m-d-Y" }}<br>
                {{ game.schedule|time:"H:i" }}
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 team">
                {{ game.team_a }}<br>
                {{ game.team_b }}
            </div>
        </div>
        <div class="row game-bottom">
            <div class="col-md-8 col-sm-8 col-xs-8 time-left">
                <div class="row flexbox-container">
                    <div class="col-md-5 col-sm-5 col-xs-5 text">BETTING ENDS</div>
                    <div class="col-md-7 col-sm-7 col-xs-7 time">{{ game.status.time_left }}</div>
                </div>
            </div>
            {% if game.status.description == 'OPEN' %}<a class="col-md-4 col-sm-4 col-xs-4 status" href="#">PLACE BETS</a>
            {% else %}<a class="col-md-4 col-sm-4 col-xs-4 status" href="#">CLOSED</a>{% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
