{% extends 'client/base.html' %}
{% load static %}

{% block head %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '193692947707115',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<link rel="stylesheet" href="{% static 'css/client/forms.css' %}">
<style>

h4 {
  font-weight: 900;
  font-family: Montserrat;
}

p {
  color: #999273;
  font-family: Montserrat;
  font-size: 0.8em;
}

.nopadding {
  margin: 0;
  padding: 0;
}

.small-img {
  width: 30px;
}

#how-to-win-xs {
  font-size: 1em;
  letter-spacing: 0.05em;
  font-weight: 900;
  font-family: Montserrat;
}
#how-to-win-sm {
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 900;
  font-family: Montserrat;
}

#howto {
  display: block;
  visibility: hidden;
}
</style>
{% endblock %}
{% block content %}
<center>
<img src="{% static 'img/client/bannericon.png' %}" class="img-responsive">
<br>
<a href="{% url 'client:registration' %}" class="btn orange-button">CLAIM<br>FREE CREDITS</a>
<div id="howto">
  <div class="visible-xxs" style="margin-top:-60px; height:60px;"></div>
  <div class="visible-xs" style="margin-top:-70px; height:70px;"></div>
  <div class="visible-sm" style="margin-top:-80px; height:80px;"></div>
  <div class="visible-md" style="margin-top:-90px; height:90px;"></div>
  <div class="visible-lg" style="margin-top:-100px; height:100px;"></div>
</div>
<br><br>
</div>
<div style="width:100%;height:5px;background-image:url(/static/img/client/bar0.png);background-size: 100vw auto; background-repeat: no-repeat;">
</div>
<div style="background-color: black;">
<div class="container">
  <br>
  <div class="row flexbox-container">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-2 col-sm-2 col-xs-2 flexbox-container nopadding" style="flex-direction: row-reverse;">
      <img src="{% static 'img/client/bar.png' %}" class="img-responsive small-img" style="min-height:30px; min-width: 30px;">
      <img src="{% static 'img/client/peso.png' %}" class="img-responsive small-img">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 nopadding">
      <center id="how-to-win-xs">HOW TO&nbsp;PLAY</center>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 flexbox-container nopadding" style="flex-direction: row;">
      <img src="{% static 'img/client/bar.png' %}" class="img-responsive small-img" style="min-height:30px; min-width: 30px;">
      <img src="{% static 'img/client/peso.png' %}" class="img-responsive small-img">
    </div>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
  </div>
  <br>
  <div class="row flexbox-container">
    <div class="col-md-5 col-sm-5 col-xs-5">
      <img src="{% static 'img/client/icon1.png' %}" class="img-responsive">
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <h4>SIGN UP</h4>
      <p>Register to Lucky Ending and get free credits.</p>
    </div>
  </div>
  <br>
  <div class="row flexbox-container">
    <div class="col-md-5 col-sm-5 col-xs-5">
      <img src="{% static 'img/client/icon2.png' %}" class="img-responsive">
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <h4>CHOOSE A GAME</h4>
      <p>Choose a game in the betting period.</p>
    </div>
  </div>

<!--
<div class="visible-xs">XS</div>
<div class="visible-sm">SM</div>
<div class="visible-md">MD</div>
<div class="visible-lg">LG</div>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>

        <br><br>

        {{ user }}<br>
        Is authenticated?
        {% if user.is_authenticated %}True{% else %}False{% endif %}<br><br>
        {% for name, value in kwargs.items %}
        {{ name }}: {{ value }}
        {% endfor %}

        {{ message }}
        {{ form }}
-->
</center>
{% endblock %}