{% extends 'client/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/client/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/client/login.css' %}">
<script src="{% static 'js/client/login.js' %}"></script>
{% endblock %}

{% block content %}
<div class="Aligner">
<div class="Aligner-item">
<button onclick="changeLoginState();" class="btn btn-primary btn-lg facebook-login">Login with Facebook</button>

<h3><div class="strike">
   <span>OR</span>
</div></h3>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login Failed</h4>
      </div>
      <div class="modal-body" style="padding: 25px 50px 25px 50px;">
        {% if form.non_field_errors|length == 1 %}
        {{ form.non_field_errors.0 }}
        {% else %}
        {{ form.non_field_errors }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if form.non_field_errors %}
<script>
$('#myModal').modal('toggle')
$('#myModal').modal('handleUpdate')
</script>
{% endif %}

<form method="post" action="{% url 'client:login' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-input email">
      <label for="id_username" class="control-label">EMAIL ADDRESS</label>
      <input id="id_username"  class="form-control" maxlength="254" name="username" type="text" required="">
    </div>
    <hr>
    <div class="form-input password">
      <label for="id_password" class="control-label">PASSWORD</label>
      <input id="id_password"  class="form-control" name="password" type="password" required="">
    </div>
    <br>
    <div align="center">
        <input type="submit" id="login" class="btn btn-lg orange-button" value="LOGIN" />
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </div>
</form>

<form id="fb_details" action="{% url 'client:login' %}" method="post">
    {% csrf_token %}
    <input id="fb_id" type="hidden" name="fb_id">
    <input id="fb_email" type="hidden" name="fb_email">
    <input id="fb_first_name" type="hidden" name="fb_first_name">
    <input id="fb_last_name" type="hidden" name="fb_last_name">
    <input id="facebook" type="hidden" name="facebook" value="facebook" />
</form>

<br>
</div>
</div>
{% endblock %}