{% load static %}

<link rel="stylesheet" href="{% static 'css/client/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/client/login.css' %}">
<script src="{% static 'js/client/login.js' %}"></script>

<div id="menu" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="glyphicon glyphicon-menu-hamburger glyphicon-lg white"></a>
  {% if user.is_anonymous %}
  <center><button onclick="changeLoginState();" class="btn btn-primary facebook">Login with Facebook</button>
  </center>

  <a href="{% url 'client:login' %}">Login</a>
  <a href="{% url 'client:registration' %}">Registration</a>
  {% else %}
  <a href="{% url 'client:home' %}">Home</a>
  <a href="{% url 'client:games' %}">Games</a>
  <a href="#">Current Bets*</a>
  <a href="{% url 'client:paypal_sample' %}">My Wallet</a>
  {% endif %}
  <hr style="display: block; height: 1px; border-top: 1px solid #ccc; margin: 1em 1em; padding: 0; ">
  <a href="{% url 'client:home' %}#howto">How to Play</a>
  <a href="#">About Lucky Ending*</a>
  {% if not user.is_anonymous %}
  <hr style="display: block; height: 1px; border-top: 1px solid #ccc; margin: 1em 1em; padding: 0; ">
  <a href="#">Logout*</a>
  {% endif %}
</div>

<div class="flex-navigation navbar-fixed-top">
    <a href="{% url 'client:home' %}"><img src="{% static 'img/client/logo.png' %}" class="logo"></a>
    <a class="btn btn-default transparent" onclick="openNav()"><span class="glyphicon glyphicon-menu-hamburger glyphicon-lg white transparent"></span></a>
</div>

<form id="fb_details" action="{% url 'client:login' %}" method="post">
    {% csrf_token %}
    <input id="fb_id" type="hidden" name="fb_id">
    <input id="fb_email" type="hidden" name="fb_email">
    <input id="fb_first_name" type="hidden" name="fb_first_name">
    <input id="fb_last_name" type="hidden" name="fb_last_name">
    <input id="facebook" type="hidden" name="facebook" value="facebook" />
</form>