{% extends 'client/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/client/forms.css' %}">
<style>
body { color: white; font-family: Open Sans; }
hr {
    border-width: 0.2em;
    width: 110% !important;
    position: relative;
    left: -5%;
    margin: 1.5em 0 1.5em 0 !important;
}
.heading {
  font-family: Open Sans;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: white;
}
.orange-button {
    font-size: 0.75em;
    padding: 0.75em 2.25em;
}
.gray-button {
    font-size: 0.75em;
    padding: 0.75em 2.25em;
}
.nopadding { padding: 0 !important; }
.cashout-button { padding: 0.75em 0.5em; }
#wallet { font-weight: 900; }
#free-play { letter-spacing: 0.04em; }

.transaction {
    color: black;
    font-family: Montserrat;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 0.85em;
}

.detail {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    color: white;
}

.datetime {
    background-color: white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.win { background-color: yellow; }
.bet { background-color: gray; }
.cashout { background-color: red; }
.credit { background-color: green; }

</style>
{% endblock %}

{% block content %}
<p class="heading">MY WALLET</p>
<div class="row flexbox-container">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6">
        <h2 id="wallet"><b>PhP {{ client_info.wallet }}</b></h2>
        <h6 id="free-play">{{ client_info.free_credits }} Free Play Credits</h6>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
        <a class="btn gray-button cashout-button" style="width:100%;">REQUEST<br class="visible-xs"> CASHOUT</a>
    </div>
</div>
<hr>
<p class="heading">ADD CREDITS</p>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" class="form-horizontal">
    {{ form.business }}{{ form.item_name }}{{ form.notify_url }}{{ form.cancel_return }}
    {{ form.return }}{{ form.custom }}{{ form.invoice }}{{ form.cmd }}{{ form.charset }}
    {{ form.currency_code }}{{ form.no_shipping }}
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
              <input class="form-control amount" id="id_amount" name="amount" type="number" min="20" step="1" value="100">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <center><button type="submit" border="0" class="btn orange-button">BUY <br class="visible-xs">CREDITS</button></center>
        </div>
    </div>
</form>
<hr>
<p class="heading">TRANSACTIONS</p>

{% for item in transactions %}

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-5 col-xxs-6 transaction detail{% if item.method_type == 'GC' %} win{% elif item.method_type == 'BD' %} bet{% elif item.method_type == 'CD' %} cashout{% else %} credit{% endif %}">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><center>{% if item.method_type == "GC" %}WIN{% elif item.method_type == "BD" %}BET{% elif item.method_type == "CD" %}CSHOUT{% else %}+CRDT{% endif %}</center></div>
            <div class="col-md-6 col-sm-6 col-xs-6">P{{ item.wallet|add:item.free_credits }}</div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-7 col-xxs-6 transaction datetime">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7 col-xxs-12">
                {{ item.created_on|date:"m-d-Y | G:i" }}
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 hidden-xxs">
                {% if item.method_type == "BD" %}{% endif %}
                <a href="#">VIEW BETS</a>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}