{% extends 'client/base.html' %}
{% load static %}
{% load bootstrap %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/client/forms.css' %}">
<style>
.heading {
  font-family: Open Sans;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: white;
}

{% if facebook %}
.email {
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  padding: 0.5em 1em;
  background-color:white;
}

.password1, .first-name, .last-name {
  padding: 0.5em 1em;
  background-color:white;
}

.password2, .contact-number {
  border-bottom-left-radius:1em;
  border-bottom-right-radius:1em;
  padding: 0.5em 1em;
  background-color:white;
}
{% else %}
.email, .first-name {
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  padding: 0.5em 1em;
  background-color:white;
}

.password1, .last-name {
  padding: 0.5em 1em;
  background-color:white;
}

.password2, .contact-number {
  border-bottom-left-radius:1em;
  border-bottom-right-radius:1em;
  padding: 0.5em 1em;
  background-color:white;
}
{% endif %}

#register {
  padding: 0.75em 1.5em;
}
</style>
{% endblock %}

{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Please fix the following before proceeding:</h4>
      </div>
      <div class="modal-body" style="padding: 25px 50px 25px 50px;">
        <div style="text-align:left;">
          {% if user_form.email.errors %}
          Email Address:
          {{user_form.email.errors}}
          {% endif %}
          {% if user_form.password1.errors or user_form.password2.errors %}
          Password:
          {{user_form.password1.errors}}
          {{user_form.password2.errors}}
          {% endif %}
          {% if client_form.first_name.errors %}
          First Name:
          {{client_form.first_name.errors}}
          {% endif %}
          {% if client_form.last_name.errors %}
          Last Name:
          {{client_form.last_name.errors}}
          {% endif %}
          {% if client_form.contact_number.errors %}
          Contact Number:
          {{client_form.contact_number.errors}}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Got it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<p class="heading">PLEASE COMPLETE YOUR DETAILS</p>
<form method="post" action="{% url 'client:registration' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-input email">
      <label for="id_email" class="control-label">EMAIL ADDRESS</label>
      <input id="id_email" class="form-control" maxlength="254" name="email" type="email" placeholder="juandelacruz@yahoo.com"{% if facebook.email and get %} value="{{ facebook.email }}"{% elif not get %} value="{{ post.email }}"{% endif %} required="">
    </div>
    <hr>
    {% if not facebook %}
    <div class="form-input password1">
      <label for="id_password1" class="control-label">PASSWORD</label>
      <input id="id_password1" class="form-control" name="password1" type="password" required="">
    </div>
    <hr>
    <div class="form-input password2">
      <label for="id_password2" class="control-label">RE-ENTER PASSWORD</label>
      <input id="id_password2"  class="form-control" name="password2" type="password" required="">
    </div>
    <br>
    {% else %}
    <input id="id_password1" maxlength="64" name="password1" type="hidden" value="luckyending">
    <input id="id_password2" maxlength="64" name="password2" type="hidden" value="luckyending">
    {% endif %}
    <div class="form-input first-name">
      <label for="id_first_name" class="control-label">FIRST NAME</label>
      <input id="id_first_name" class="form-control" maxlength="32" name="first_name" type="text" placeholder="Juan" {% if facebook.first_name and get %} value="{{ facebook.first_name }}"{% elif not get %} value="{{ post.first_name }}"{% endif %} required="">
    </div>
    <hr>
    <div class="form-input last-name">
      <label for="id_last_name" class="control-label">LAST NAME</label>
      <input id="id_last_name" class="form-control" maxlength="16" name="last_name" type="text" placeholder="Dela Cruz" {% if facebook.last_name and get %} value="{{ facebook.last_name }}"{% elif not get %} value="{{ post.last_name }}"{% endif %}required="">
    </div>
    <hr>
    <div class="form-input contact-number">
      <label for="id_contact_number" class="control-label">CONTACT NUMBER</label>
      <input id="id_contact_number" class="form-control" name="contact_number" type="text" placeholder="639001234567" {% if not get %}value="{{ post.contact_number }}" {% endif %}required="">
    </div>
    <br>

    <input id="id_username" maxlength="64" name="username" type="hidden" value="user{{facebook.id}}">
    <input id="id_facebook" maxlength="64" name="facebook" type="hidden" value="{% if facebook %}True{% else %}False{% endif %}">

    <input id="fb_id" type="hidden" name="fb_id" value="{{ facebook.id }}">
    <input id="fb_email" type="hidden" name="fb_email" value="{{ facebook.email }}">
    <input id="fb_first_name" type="hidden" name="fb_first_name" value="{{ facebook.first_name }}">
    <input id="fb_last_name" type="hidden" name="fb_last_name"  value="{{ facebook.last_name }}">

    <div align="center">
        <div class="visible-xxs">
          <input type="submit" id="register" class="btn btn-sm orange-button" value="COMPLETE REGISTRATION" style="width:100%"/>
        </div>
        <div class="hidden-xxs visible-xs visible-sm">
          <input type="submit" id="register" class="btn orange-button" value="COMPLETE REGISTRATION" style="width:100%" />
        </div>
        <div class="visible-md visible-lg">
          <input type="submit" id="register" class="btn btn-lg orange-button" value="COMPLETE REGISTRATION" style="width:100%" />
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <br>
</form>

{% if user_form.errors or client_form.errors %}
<script>
$('#myModal').modal('toggle')
$('#myModal').modal('handleUpdate')
</script>
{% endif %}

{% endblock %}