transactions.html

{{ transactions }}
<table>
    <thead>
        <tr>
            <td>Created</td>
            <td>Updated</td>
            <td>Client</td>
            <td>Wallet</td>
            <td>Free Credits</td>
            <td>Method</td>
            <td>Type</td>
            <td>Bet?</td>
        </tr>
    </thead>
    <tbody>
        {% for item in transactions %}
        <tr>
            <td>{{ item.created_on }}</td>
            <td>{{ item.updated_on }}</td>
            <td>{{ item.client }}</td>
            <td>{{ item.wallet }}</td>
            <td>{{ item.free_credits }}</td>
            <td>{{ item.get_method_display }}</td>
            <td>{{ item.get_method_type_display }}</td>
            <td>{% for bet in item.bet_set.all %}{{ bet.game }}: {{bet.ending_a}}-{{bet.ending_b}} ({{bet.amount}})<br>{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>