{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <style>
        body { margin-top:80px; font-family: 'Open Sans', sans-serif; }
        .navbar-default {
            background-color: #100c0d;
            border-top: 5px solid #f72d00;
            color: #fefefe;
        }
        .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:visited {
            color: #fefefe;
            padding: 30px 20px;
            text-transform: uppercase;
            font-size: 0.85em;
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: #fefefe;
            font-weight: bold;
        }
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
            background: red; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#f12f00, #100c0d); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#f12f00, #100c0d); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#f12f00, #100c0d); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#f12f00, #100c0d); /* Standard syntax */
            color: #fefefe;
            font-weight: bold;
        }
        img.logo {
            height: 80px;
            margin-top: -10px;
        }
        .navbar-default .navbar-text {
            margin:0 15px;
            text-transform: uppercase;
            color: #fefefe;
        }

        .btn {
            padding: 0.2em 2em;
            /*margin-left: 10px;
            margin-right: 10px;*/
            margin: 10px 5px;
        }

        .btn-orange {
            background-color: #ea5424;
            color: white;
        }

        .btn-orange:hover {
            color: white;
            font-weight: 600;
        }

        .btn-gray {
            background-color: #979796;
            color: white;
        }

        .btn-gray:hover {
            color: white;
            font-weight: 600;
        }

        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include 'hq/navigation.html' %}
        <br>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>