{% extends 'hq/base.html' %}
{% load static %}
{% load bootstrap %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.css">
{% endblock %}

{% block content %}
<form action="{% url 'hq:create_game' %}" method="post">
    {% csrf_token %}
    <!--<div class="form-group" id="schedule_picker">
        <label class="control-label" for="id_schedule">Schedule</label>
        <div class="input-group date">
            <input class="form-control" id="id_schedule" name="schedule" type="text" required="">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>-->
    {{ form.schedule|bootstrap }}
    {{ form.team_a|bootstrap }}
    {{ form.team_b|bootstrap }}
    <input class=" form-control" id="id_action_by" name="action_by" type="hidden" value="{{ user.id }}">
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block scripts %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>        
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#id_schedule').datetimepicker();
    });
</script>
{% endblock %}
