{% extends 'hq/base.html' %}
{% load static %}
{% load bootstrap %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'hq/css/custom-table.css' %}"/>

<style>
body {
    background-color: #e6e7e7;
}
select, input {
    padding: 0.5em 0.5em;
    background-color: #e6e7e7;
}
thead > tr {
    font-weight: 900;
}
.form {
    background-color: #d2d2d2;
    min-height: 70vh;
    padding: 3em 2em;
}

input.form-control {
    padding: 1.5em;
}
input[type="submit"] {
    padding: 0.5em 3em;
    background-color: #ea5424;
}
</style>
{% endblock %}

{% block content %}
<br>
<div class="row">

    <div class="col-md-9">
        <table class="datatable display cell-border">
            <thead>
                <tr>
                    <td>SCHEDULE</td>
                    <!--<td>SCHEDULE</td>-->
                    <td>GAME</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.schedule|date:"Y-m-d H:i" }}</td>
                    <!--<td>{{ game.schedule|date:"r" }}</td>-->
                    <td>{{ game.team_a }} VS {{ game.team_b }}</td>
                    <td>
                        <button class="btn btn-orange">SCORE</button>
                        <button class="btn btn-orange">RESCHED</button>
                        <button class="btn btn-gray">CANCEL</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-3 form">
        <form action="{% url 'hq:games' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label  " for="id_schedule">Schedule</label>
                <div class=" ">
                    <input class="form-control" id="id_schedule" name="schedule" type="date" required="">
                </div>    
            </div>
            <br>
            <div class="form-group">            
                <label class="control-label  " for="id_team_a">Team a</label>
                <div class=" ">
                    <input class="form-control" id="id_team_a" maxlength="64" name="team_a" type="text">
                </div>    
            </div>
            <br>
            <div class="form-group">
                <label class="control-label  " for="id_team_b">Team b</label>
                <div class=" ">
                    <input class="form-control" id="id_team_b" maxlength="32" name="team_b" type="text" required="">
                </div> 
            </div>
            <input id="id_action_by" name="action_by" type="hidden" value="{{ user.id }}">
            <br>
            <center><input class="btn btn-orange" type="submit" value="CREATE GAME" /></center>
        </form>
    </div>
    

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
<script>
$(document).ready(function(){
    $('.datatable').DataTable({
        "order": [[ 0, "desc" ]],
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ 2 ] }
        ],
        "columnDefs": [
            { "type": "datetime-moment", targets: 0 }
        ],
        "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "iDisplayLength": 5,
        responsive: true
    });
});
</script>
{% endblock %}