{% load static %}
{% url 'hq:games' as games %}
{% url 'hq:create_game' as create_game %}
{% url 'hq:score_game' as score_game %}
{% url 'hq:service_credit' as service_credit %}
{% url 'hq:staff_activity' as staff_activity %}
{% url 'hq:create_staff' as create_staff %}
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="{% static 'img/client/logo.png' %}" class="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li{% if request.path == games %} class="active"{% endif %}><a href="{% url 'hq:games' %}">View Games</a></li>
            <li{% if request.path == score_game %} class="active"{% endif %}><a href="{% url 'hq:score_game' %}">Score Game</a></li>
            <li{% if request.path == service_credit %} class="active"{% endif %}><a href="{% url 'hq:service_credit' %}">Service Credits</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li{% if request.path == staff_activity %} class="active"{% endif %}><a href="{% url 'hq:staff_activity' %}">View Activity</a></li>            
                <li><a href="#">View Service Credits</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Accounts</li>
                <li{% if request.path == create_staff %} class="active"{% endif %}><a href="{% url 'hq:create_staff' %}">Create Staff Account</a></li>
                <li><a href="#">View/Edit Staff Accounts</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><p class="navbar-text">Welcome, {{user}}!</p> <span class="caret"></span></a>
              <ul class="dropdown-menu">           
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>