{% extends 'hq/base.html' %}
{% load static %}
{% load bootstrap %}

{% block head %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>        
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#schedule_picker').datetimepicker();
    });
</script>
{% endblock %}

{% block content %}
<form action="{% url 'hq:score_game' %}" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input class=" form-control" id="id_action_by" name="action_by" type="hidden" value="{{ user.id }}">
    <input type="submit" value="Submit" />
</form>
{% endblock %}