{% extends 'hq/base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<form action="{% url 'hq:service_credit' %}" method="post">
    {% csrf_token %}
    {{ form.client|bootstrap }}
    <div class="form-group">
        <label class="control-label  " for="id_free_credits">Amount</label>
        <div class=" ">
            <input class=" form-control" id="id_free_credits" min="0" name="free_credits" type="number" required="">
        </div>
    </div>
    {{ form.details|bootstrap }}

    <input id="id_wallet" name="wallet" type="hidden" value="0">
    <input id="id_method_type" name="method_type" type="hidden" value="SC">
    <input id="id_staff" name="staff" type="hidden" value="{{ user.id }}">

    <button id="id_service_type" name="service_type" class="button expanded" value="P" type="submit">Grant as Promo</button>
    <button id="id_service_type" name="service_type" class="button expanded" value="R" type="submit">Mark as Referral Bonus</button>
</form>
{% endblock %}
