{% extends 'hq/base.html' %}

{% block content %}
staff actions

<table>
    <tbody>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.created_on }}</td>
            <td>{{ activity.staff }}</td>
            <td>{{ activity.content_object }}</td>
            <td>{{ activity.details }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}